### Loading the dataset

In [4]:
import pandas as pd
import numpy as np

In [2]:
file = "Co_600K_Jul2019_6M.pkl"
data = pd.read_pickle(file)

In [33]:
pd.options.display.max_columns = 10
pd.options.display.max_rows = 10

In [34]:
data.head()

,AccountsAccountCategory,AccountsAccountRefDay,AccountsAccountRefMonth,CompanyCategory,CompanyId,...,oac2,oseast1m,osnrth1m,pcd,ru11ind
2993,TOTAL EXEMPTION FULL,31,3,Private Limited Company,352482,...,5A,411310.0,421493.0,HX59DG,A1
3969,DORMANT,30,11,Private Limited Company,3477508,...,2C,392203.0,173252.0,SN153HR,C1
6752,TOTAL EXEMPTION FULL,30,11,Private Limited Company,1509998,...,2B,529221.0,181386.0,W1W8DW,A1
15331,TOTAL EXEMPTION FULL,31,12,Private Limited Company,410035,...,4A,378356.0,407292.0,M263WQ,A1
18593,TOTAL EXEMPTION FULL,28,2,Private Limited Company,915950,...,5A,399770.0,311242.0,WS117GB,A1

In [35]:
data.isnull().sum()

AccountsAccountCategory       0
AccountsAccountRefDay         4
AccountsAccountRefMonth       4
CompanyCategory               0
CompanyId                     0
                           ...
oac2                          0
oseast1m                      0
osnrth1m                      0
pcd                           0
ru11ind                    8708
Length: 131, dtype: int64

In [36]:
data.describe()

,CompanyId,CompanyNameCountNum,CompanyNameCountX,CompanyNameLen,CompanyNameWordLen,...,nSIC,namechanged,namechanged2,oseast1m,osnrth1m
count,6.000000e+05,600000.000000,600000.000000,600000.000000,600000.000000,...,599845.000000,600000.000000,600000.000000,600000.000000,6.000000e+05
mean,2.994577e+06,0.091757,0.044125,23.890753,3.505062,...,64565.243508,0.108140,0.019277,456447.457688,2.715670e+05
std,1.799176e+06,0.490270,0.211088,8.115979,1.060011,...,20511.778380,0.310557,0.137496,90461.448212,1.482450e+05
min,3.930000e+02,0.000000,0.000000,5.000000,1.000000,...,123.000000,0.000000,0.000000,64971.000000,1.017100e+04
25%,1.438239e+06,0.000000,0.000000,18.000000,3.000000,...,47721.000000,0.000000,0.000000,390123.000000,1.788800e+05
50%,2.883634e+06,0.000000,0.000000,23.000000,3.000000,...,68100.000000,0.000000,0.000000,476112.000000,1.973860e+05
75%,4.805894e+06,0.000000,0.000000,29.000000,4.000000,...,81210.000000,0.000000,0.000000,529937.000000,3.662400e+05
max,5.925832e+06,32.000000,5.000000,114.000000,16.000000,...,99999.000000,1.000000,1.000000,655448.000000,1.208925e+06

In [37]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600000 entries, 2993 to 3145186
Data columns (total 131 columns):
 #    Column                             Dtype
---   ------                             -----
 0    AccountsAccountCategory            object
 1    AccountsAccountRefDay              object
 2    AccountsAccountRefMonth            object
 3    CompanyCategory                    object
 4    CompanyId                          int64
 5    CompanyName                        object
 6    CompanyNameCountNum                int64
 7    CompanyNameCountX                  int64
 8    CompanyNameLen                     int64
 9    CompanyNameWordLen                 int64
 10   CompanyNumber                      object
 11   CompanyStatus                      object
 12   Field1014                          float64
 13   Field1129                          float64
 14   Field1522                          float64
 15   Field1631                          float64
 16   Field17                            float64
 17   Field1865                          float64
 18   Field1871                          float64
 19   Field1885                          float64
 20   Field1977                          float64
 21   Field2267                          object
 22   Field2298                          float64
 23   Field2304                          float64
 24   Field2316                          float64
 25   Field2447                          float64
 26   Field2483                          float64
 27   Field2497                          float64
 28   Field2502                          float64
 29   Field2506                          float64
 30   Field2616                          float64
 31   Field2619                          float64
 32   Field2705                          float64
 33   Field2815                          float64
 34   Field2816                          object
 35   Field282                           float64
 36   Field2823                          object
 37   Field306                           float64
 38   Field448                           float64
 39   Field465                           float64
 40   Field474                           float64
 41   Field477                           float64
 42   Field487                           float64
 43   Field489                           float64
 44   Field541                           float64
 45   Field69                            float64
 46   Field70                            float64
 47   Field972                           object
 48   FilingId                           float64
 49   Filled                             object
 50   LimitedPartnershipsNumGenPartners  object
 51   LimitedPartnershipsNumLimPartners  object
 52   MortgagesNumMortCharges            int64
 53   MortgagesNumMortOutstanding        int64
 54   MortgagesNumMortPartSatisfied      int64
 55   MortgagesNumMortSatisfied          int64
 56   PreviousName_1CompanyName          object
 57   RegAddressAddressLine1             object
 58   RegAddressAddressLine2             object
 59   RegAddressCareOf                   object
 60   RegAddressCountry                  object
 61   RegAddressCounty                   object
 62   RegAddressPOBox                    object
 63   RegAddressPostCode                 object
 64   RegAddressPostTown                 object
 65   SIC1                               float64
 66   SIC2                               float64
 67   SIC3                               float64
 68   Status20190701                     object
 69   country                            object
 70   cty                                object
 71   dAccountsLastMadeUpDate            float64
 72   dAccountsNextDueDate               float64
 73   dConfStmtLastMadeUpDate            float64
 74   dConfStmtNextDueDate               float64
 75   dContextInstant                    float64
 76   dIncorporationDate                 float64
 77   dPreviousName_1CONDATE             float64
 78   dPreviousName_2CONDATE             float64
 79   dReturnsLastMadeUpDate             float64
 80   dReturnsNextDueDate                float64
 81   eAccountsAccountCategory           int32
 82   eCompanyCategory                   int32
 83   hasF1014                           int32
 84   hasF1129                           int32
 85   hasF1522                           int32
 86   hasF1631                           int32
 87   hasF17                             int32
 88   hasF1865                           int32
 89   hasF1871                           int32
 90   hasF1885                           int32
 91   hasF1977                           int32
 92   hasF2298                           int32
 93   hasF2304                           int32
 94   hasF2316                           int32
 95   hasF2447                           int32
 96   hasF2483                           int32
 97   hasF2497                           int32
 98   hasF2502                           int32
 99   hasF2506                           int32
 100  hasF2616                           int32
 101  hasF2619                           int32
 102  hasF2705                           int32
 103  hasF2815                           int32
 104  hasF282                            int32
 105  hasF306                            int32
 106  hasF448                            int32
 107  hasF465                            int32
 108  hasF474                            int32
 109  hasF487                            int32
 110  hasF489                            int32
 111  hasF541                            int32
 112  hasF69                             int32
 113  hasF70                             int32
 114  hasGNotice                         bool
 115  imd                                float64
 116  imdu                               float64
 117  isfailed                           int32
 118  lat                                float64
 119  long                               float64
 120  nSIC                               float64
 121  namechanged                        int32
 122  namechanged2                       int32
 123  oa11                               object
 124  oac1                               object
 125  oac11                              object
 126  oac2                               object
 127  oseast1m                           float64
 128  osnrth1m                           float64
 129  pcd                                object
 130  ru11ind                            object
dtypes: bool(1), float64(53), int32(36), int64(9), object(32)
memory usage: 534.0+ MB

In [38]:
data.Field2267

2993       None
3969       None
6752       None
15331      None
18593      None
           ...
3195120    None
929546     None
2794558    None
1475053    None
3145186    None
Name: Field2267, Length: 600000, dtype: object

In [40]:
num_data = data.select_dtypes(include=np.number)

In [42]:
X_df = num_data.loc[:, num_data.columns!='isfailed']

In [44]:
y_df = num_data.loc[:,'isfailed']

In [54]:
y_df.sum()

1196

### Creating datasets and dataloaders

In [79]:
from sklearn.model_selection import train_test_split

X_train_df, X_test_df, y_train_df, y_test_df = train_test_split(X_df, y_df, test_size=0.2, random_state=42)

In [92]:
X_train_df

,CompanyId,CompanyNameCountNum,CompanyNameCountX,CompanyNameLen,CompanyNameWordLen,...,nSIC,namechanged,namechanged2,oseast1m,osnrth1m
3028972,5299542,0,0,20,3,...,66300.0,0,0,530296.0,181221.0
2368208,3611993,0,0,21,4,...,56210.0,0,0,482775.0,105799.0
3623378,5815883,0,0,19,3,...,62012.0,0,0,334092.0,373915.0
467628,1439458,0,0,29,4,...,47749.0,0,0,599113.0,225017.0
2121694,1918629,0,0,14,2,...,98000.0,0,0,405339.0,286128.0
...,...,...,...,...,...,...,...,...,...,...,...
3468843,5849414,0,0,26,4,...,62020.0,0,0,433743.0,284917.0
702568,3955887,0,0,24,3,...,47430.0,0,0,385689.0,437661.0
606670,2322179,0,0,18,2,...,68209.0,0,0,380767.0,403371.0
3385339,5694631,0,0,21,4,...,90010.0,0,0,555554.0,363452.0
1128473,592786,0,0,23,3,...,66300.0,1,1,527609.0,179600.0

In [83]:
X_train_df.to_csv('X_train.csv', index=False)
X_test_df.to_csv('X_test.csv', index=False)
y_train_df.to_csv('y_train.csv', index=False)
y_test_df.to_csv('y_test.csv', index=False)

In [2]:
import torch

In [5]:
X_train = torch.tensor(pd.read_csv('X_train.csv', index_col = False).values)
X_test = torch.tensor(pd.read_csv('X_test.csv', index_col = False).values)
y_train = torch.tensor(pd.read_csv('y_train.csv', index_col = False).values)
y_test = torch.tensor(pd.read_csv('y_test.csv', index_col = False).values)

In [88]:
from torch.utils.data import Dataset
from torch.utils.data import DataLoader

In [56]:
class MyDataset(Dataset):
    def __init__(self, X, y):
        self.X = X
        self.y = y
        
    def __len__(self):
        return len(self.y)
    
    def __getitem__(self, index):
        return X[index], y[index]

In [86]:
train = MyDataset(X_train, y_train)
test = MyDataset(X_test, y_test)

In [89]:
train_loader = DataLoader(dataset=train, batch_size=10, shuffle=True)
test_loader = DataLoader(dataset=test, batch_size=10, shuffle=True)

### Making the network

In [90]:
import torch
import torch.nn as nn

In [93]:
class MyNetwork(nn.Module):
    def __init__(self):
        super(MyNetwork, self).__init__()
        self.layer1 = nn.Linear(97, 30)
        self.layer2 = nn.Linear(30, 10)
        self.output = nn.Linear(10,1)
    
    def forward(self, x):
        y = nn.ReLu(self.layer1(x))
        y = nn.ReLu(self.layer2(y))
        y = self.output(y)
        return torch.sigmoid(y)